{% extends 'base.html' %}

{% block content %}

<!-- Home -->
<div class="home">
	<div class="home_slider_container">

		<!-- Home Slider -->
		<div class="owl-carousel owl-theme home_slider">

			<!-- Home Slider Item -->
			<div class="owl-item">
				<div class="home_slider_background"
					style="background-image:url({{STATIC_URL}}images/home_slider_1.jpg)"></div>
				<div class="home_slider_content">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<div class="home_slider_title">ASPU Chat Bot</div>
								<div class="home_slider_subtitle">Your University Assistance</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Home Slider Item -->
			<div class="owl-item">
				<div class="home_slider_background"
					style="background-image:url({{STATIC_URL}}images/home_slider_1.jpg)"></div>
				<div class="home_slider_content">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<div class="home_slider_title">Ask him what you want</div>
								<div class="home_slider_subtitle">Using the latest machine leanring technologies, our
									bot can assist you</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Home Slider Nav -->

	<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
	<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>

<!-- Features -->
<div id="features" class="features">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<h2 class="section_title">Welcome To Unicat E-Learning</h2>
					<div class="section_subtitle">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu.
							Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row features_row">

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="{{STATIC_URL}}images/icon_1.png" alt=""></div>
					<h3 class="feature_title">The Experts</h3>
					<div class="feature_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
					</div>
				</div>
			</div>

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="{{STATIC_URL}}images/icon_2.png" alt=""></div>
					<h3 class="feature_title">Book & Library</h3>
					<div class="feature_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
					</div>
				</div>
			</div>

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="{{STATIC_URL}}images/icon_3.png" alt=""></div>
					<h3 class="feature_title">Best Courses</h3>
					<div class="feature_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
					</div>
				</div>
			</div>

			<!-- Features Item -->
			<div class="col-lg-3 feature_col">
				<div class="feature text-center trans_400">
					<div class="feature_icon"><img src="{{STATIC_URL}}images/icon_4.png" alt=""></div>
					<h3 class="feature_title">Award & Reward</h3>
					<div class="feature_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}