{% extends 'base.html' %}


{% block content %}


<!-- Courses -->
<div class="courses">
    <div class="container">
        <div class="row">

            <!-- Courses Main Content -->
            <div class="col-lg-12">
                <div class="courses_container">
                    <div class="row courses_row">

                        <h2> You've been logged out<h3>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}