{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/about.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/about_responsive.css">
{% endblock extra_css %}

{% block content %}

<div class="feature">
    <div class="feature_background" style="background-image:url({{STATIC_URL}}images/courses_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome</h2>
                    <h3 class="section_title">Profile</h3>
                </div>
            </div>
        </div>
        <div class="row feature_row">

            <!-- Feature Content -->
            <div class="col-lg-6 feature_col">
                <div class="feature_content">
                    <!-- Accordions -->
                    <div class="accordions">
                        <div class="elements_accordions">
                            <h4>Student Information</h4>
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center active"><div>Username: {{user}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>First name: {{user.first_name}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Father name: {{user.father_name}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Last name: {{user.last_name}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Phone: {{user.phone}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Gender: {{user.gender}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Address: {{user.address}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Nationality: {{user.nationality}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Birth Date: {{user.birth_date}}</div></div>
                            </div>
                            <h4>Bank Info</h4>
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center active"><div>Bank: {{user.bank_name}}</div></div>
                                <div class="accordion d-flex flex-row align-items-center active"><div>Bank Card: {{user.bank_card_num}}</div></div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordions End -->
                </div>
            </div>

             <!-- Feature Content -->
             <div class="col-lg-6 feature_col">
                <div class="feature_content">
                    <!-- Accordions -->
                    <div class="accordions">
                        
                        <div class="elements_accordions">
                            <h4>Courses and Degrees</h4>
                            <div class="accordion_container">
                                {% for degree in degrees %}
                                <div class="accordion d-flex flex-row align-items-center active">
                                    {{degree.course}}: {{degree.degree}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Accordions End -->
                </div>
            </div>

            {% comment %} <!-- Feature Video -->
            <div class="col-lg-6 feature_col">
                <div class="feature_video d-flex flex-column align-items-center justify-content-center">
                    <div class="feature_video_background" style="background-image:url({{user.profile_image.url}}"></div>
                </div>
            </div> {% endcomment %}
        </div>

        <div class="button-row " style="margin-top: 5rem;">
            <div class="btn btn-primary"><a style="color: white;" href="{% url 'user:logout' %}">Logout</a></div>
        </div>
    </div>
</div>


{% endblock content %}